@{
    ViewData["Title"] = "ApplicantStatus";
}

<h1>ApplicantStatus</h1>

<p>Total Applicants (Using Count):<strong> @ViewBag.Count</strong></p>
<p>Average Age Of Applicants (Using Average): <strong>@ViewBag.AverageAge</strong></p>
<p>Minimum Age Of Applicant (Using Minimum): <strong>@ViewBag.MinAge</strong></p>
<p>Maximum Age Of Applicant (Using Maximum): <strong>@ViewBag.MaxAge</strong></p>
<p>Maximum Experience Of Applicant (Sum): <strong>@ViewBag.MaxExperience</strong></p>

<h3><strong>Qualification (Using Grouped by)</strong></h3>
<table class="table">
    <thead>
        <tr>
            <th><strong>Qualification</strong></th>
            <th><strong>Count</strong></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.GroupedByQualification)
        {
            <tr>
                <td>@item.Qualification</td>
                <td>@item.Count</td>
            </tr>
        }
    </tbody>
</table>
